/*(c) Ober George*/
#not{
	position: fixed;
	padding: 15px;
	bottom: 7%;
	right: 100%;
	background-color: #333;
	font-family: Arial;
	font-size: 40px;
	color: white;
	animation: open 0.5s forwards;
	display: none;
	width: 20%;
}
@keyframes open{
	100% { right: 5%; }
}
#title,#body{
	margin:0px;
}